li{
	font-family: verdana;
	color: #ff0000;
		border-radius: 0px;
	}

.equipe{
	margin-top: 20px;
	font-size: 30px;
	font-family: verdana;
	text-align: center;
	color: #262c84;
	}

.sobre{
	margin-top: 40px;
	font-size: 30px;
	font-family: verdana;
	text-align: center;
	color: #262c84;
	}

img{
		text-align: center;
	}

.footer{
	position: absolute;
	bottom:0;
	width:100%;
	text-align: center;
}

.explanacao{
	font-size: 20px;
	font-family: verdana;
	color:#303030;
}